<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@zendeskgarden/css-bedrock@7.0" type="text/css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/css/dataTables.checkboxes.css" type="text/css">
  <link rel="stylesheet" href="styles/main.css" type="text/css">
</head>
<body>

  <div id="content-search-box"></div>
  <div id="content-table"></div>
  <div id="loading-panel"><div class="lds-ring"><div></div><div></div></div></div>
  
  <script id="template-search-box" type="text/x-handlebars-template">
    
    <div class="search-box">
      <form>
        <select id="custom-field-select" name="custom_field_select"  style="width: 100%" required>
            <option value="" disabled selected>Filtro de Busca*</option>
            <option value="0|id_ticket">ID do ticket</option>
            <option value="0|nome_cliente">Nome do cliente</option>
            <option value="0|email_cliente">E-mail do cliente</option>
            {{#each custom_fields}}
            <option value="{{id}}|{{custom_tag}}">{{title}}</option>
            {{/each}}
            <option value="0|cd_entrega transportadora">CD + Transportadora</option>
        </select>
        <select id="sub-options-cd" class="sub-select-nav" name="sub_option_cd" style="display:none; width: 100%">
          {{#each cd_options}}
            <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
        <select id="sub-options-transportadora" class="sub-select-nav" name="sub_option_transportadora" style="display:none; width: 100%">
          {{#each transportadora_options}}
            <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
        <input type="text" id="search-text" name="search_text" style="display:none;">
        <div class="submit-container" style="text-align:center;"><input type="submit" id="btn-search" value="Buscar"></div>
      </form>
    </div>
        
  </script>

  <script type="text/x-handlebars-template" id="custom-fields-template">
      <table id="results-table" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Status</th>
            <th>Ticket ID</th>
            <th>Assunto</th>
            <th>ID do Pedido</th>
            <th>CPF / CNPJ</th>
            <th>Nome</th>
            <th>Grupo</th>
            <th>CD</th>
            <th>Transp</th>
          </tr>
        </thead>
        <tbody>
      {{#each this.tickets}}
      <tr>
        <td><span class="pop ticket_status_label compact {{status}}">{{status}}</span></td>
        <td ><a class="ticket-id-cell" data-value="{{id}}">{{id}}</a></td>
        <td>{{subject}}</td>
        <td>{{custom_values.id_pedido}}</td>
        <td>{{custom_values.cpf_cnpj}}</td>
        <td>{{username}}</td>
        <td>{{group_id}}</td>
        <td>{{custom_values.cd_entrega}}</td>
        <td>{{custom_values.transportadora}}</td>
      </tr>
      {{/each}}
        </tbody>
      </table>
      {{#if totalPages}}
      <div class="custom-pagination">
        <button class="prev-page page-change {{#if prevPage}}enabled{{/if}}" data-page="{{prevPage}}" title="{{#if prevPage}}Página Anterior{{/if}}">&#8249;</button>
        Página {{page}} de {{totalPages}}
        <button class="next-page page-change {{#if nextPage}}enabled{{/if}}" data-page="{{nextPage}}" title="{{#if nextPage}}Próxima Página{{/if}}">&#8250;</button>
      </div>
      {{/if}}
  </script>

  <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/js/dataTables.checkboxes.min.js"></script>
  <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.8/handlebars.min.js"></script>
  <script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
  <script type="text/javascript" src="scripts/navbar.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</body>
</html>
