<script name="searchBoxTeste" partial-name="searchBoxTeste" id="search-box-template" type="text/x-handlebars-template">
  <input type="text" style="width:100%" id="search-input">
  <button id="btn-search" style="margin:2rem;">BUSCAR NOVO</button>
</script>