<html>
<head>
  <meta charset="utf-8">
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@zendeskgarden/css-bedrock@7.0" type="text/css">
  <link rel="stylesheet" href="styles/main.css" type="text/css">

    
  <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.8/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script type="text/javascript" src="https://assets.zendesk.com/apps/sdk/2.0/zaf_sdk.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
  <script type="text/javascript" src="scripts/topbar.js"></script>
</head>
<body>

  <div id="content-search-box"></div>

  <script id="template-search-box" type="text/x-handlebars-template">
    
    <div class="search-box" style="overflow-x:hidden;">
      <form>
        <select id="custom-field-select" name="custom_field_select"  style="width: 100%" required>
            <option value="" disabled selected>Filtro de Busca*</option>
            <option value="0|id_ticket">ID do ticket</option>
            <option value="0|nome_cliente">Nome do cliente</option>
            <option value="0|email_cliente">E-mail do cliente</option>
            {{#each custom_fields}}
            <option value="{{id}}|{{custom_tag}}">{{title}}</option>
            {{/each}}
            <option value="0|cd_entrega transportadora">CD + Transportadora</option>
        </select>
        <select id="sub-options-cd" class="sub-select-nav" name="sub_option_cd" style="display:none; width: 100%">
          {{#each cd_options}}
            <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
        <select id="sub-options-transportadora" class="sub-select-nav" name="sub_option_transportadora" style="display:none; width: 100%">
          {{#each transportadora_options}}
            <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
        <input type="text" id="search-text" name="search_text" style="display:none;">
        <div class="submit-container" style="text-align:center;"><input type="submit" id="btn-search" value="Buscar"></div>
      </form>
    </div>
        
  </script>
  
</body>
</html>
