.data {
  color: #363;
  padding-left: 6px;
}

#content td {
  font-size: 12px;
  padding-top: 2px;
  text-align: center;
}

.ticket-id-cell {
  cursor: pointer;
}

#results-table thead th,
#results-table.no-footer{
  border-bottom: 1px solid #bbb;
}

.custom-pagination {
  padding: 10px 0px;
  text-align: center;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.page-change {
  opacity:0.5;
  cursor: default;
  margin: 0px 5px;
  background: none;
  border: 1px solid #638aab;
  padding: 0px 11px 8px 10px;
  color: #638aab;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.page-change.enabled {
  opacity:1;
  cursor: pointer;
}

.page-change.enabled:hover {
  background:#638aab;
  color:#fff;
}

.search-box {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: relative;
}

.search-box select {
  width: 100%;
  padding:3px;
  border-radius:5px;
  border:1px solid #ccc;
  margin-bottom:5px;
}

.search-box input[type="text"],
.search-box input[type="email"] {
  width:100%;
  padding:3px;
  border-radius:5px;
  border: 1px solid #a7a7a7;
}

.search-box input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 4px 30px;
}

.search-box .select2-container {
  margin-bottom: 10px;
}

.search-box #btn-search {
  margin:2rem;
  margin-top:10px;
}

#content-table {
  padding:1rem;
  margin-top:-30px;
}

#loading-panel {
  position: fixed;
  top: 170px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  align-items:center;
  display:none;
}



#loading-panel .lds-ring {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 0px auto;
  left: 0;
  right: 0;
  top:25%;
}
#loading-panel .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #dedede;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
  border-color: #dedede transparent transparent transparent;
}
#loading-panel .lds-ring div:nth-child(1) {
  animation-delay: -0.3s;
}
#loading-panel.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
#loading-panel .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
